*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
.container{
  width: 90%;
  margin: auto;
}
.container.header > h1{
  margin: 66px 0px;
}

.App{
  background-color: rgb(186, 244, 158);
}
.header{
  min-height: 99vh;
  display: flex;
flex-direction: column;
align-items: center;
} 